## misc
places
bookmarks
url
tmp
eshell
elpa
ede-projects.el
data
ac-comphist.dat
abbrev-defs
.org-id-locations
org-clock-save.el
site-lisp/org-mode.el
dotemacs.el
tramp
dotemacs.elc
secret.el.gpg
abbrev_defs
*.yas-compiled-snippets.el
.org-id-locations
var

## directory contents
auto-save-list/*
backups/*
data/*
elpa/*
eshell/*
tmp/*
url/*
rnc/*
semanticdb/*
site-lisp/*.elc

## haskell guff
.hsenv
*.hi
*.o
/.DS_Store
.backups
/site-lisp/.DS_Store
/projectile.cache
